
h1 {
  font-family: var(--vscode-editor-font-family);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.app {
  margin: 15px auto;
  max-width: 80rem;
}

.app__actions {
  display: flex;
  gap: 1rem;
}

.app__error {
  color: var(--vscode-editorError-foreground);
}

.tabset{
  display:flex;
  justify-content: stretch;
  padding-bottom: 3rem;
}

.tabset > *{
  padding: 1rem 2rem;
  border: 1px solid white;
}

.tabset > *:hover{
  background: rgb(70, 70, 70);
  cursor: pointer;
}

.tabset > *.selected{
  background: rgb(110, 110, 110);
}

.page-container{
  display:flex;
  flex-direction:column
}

textarea{
  height: 40vh;
}

.select > *{
  background: var(--vscode-input-background);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button{
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);

}

.error-box{
  background-color: black;
  width: -webkit-fill-available;
  font-family: 'Consolas', 'Courier New', monospace;
  color: #D8000C;
  padding: 10px;
  border: 1px solid rgb(173, 159, 159);
  border-radius: 5px;
  font-weight: 700;

}