
h1 {
  font-family: var(--vscode-editor-font-family);
}

.app {
  margin: 15px auto;
  max-width: 80rem;
}

.app__actions {
  display: flex;
  gap: 1rem;
}

.app__error {
  color: var(--vscode-editorError-foreground);
}

.tabset{
  display:flex;
  justify-content: stretch;
  padding-bottom: 3rem;
}

.tabset > *{
  padding: 1rem 2rem;
  border: 1px solid white;
}

.tabset > *:hover{
  background: rgb(70, 70, 70);
  cursor: pointer;
}

.tabset > *.selected{
  background: rgb(110, 110, 110);
}

.page-container{
  display:flex;
  flex-direction:column
}

textarea{
  height: 40vh;
}

.select > *{
  background: var(--vscode-input-background);
}
